.item{
    display: flex;
    width: 525px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.postImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.textPost{
    display: block;
    width: 450px;
    padding-left: 10px;
}
.postName{
    font-size: 14px;
    font-weight: 500;
}