.nav{
    display: flex;
    width: 150px;
    padding: 15px 0 10px;
    flex-direction: column;
    background-color: #EDEEF0;
    margin-left: 0px;
}

.nav_item{
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_item a {
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
}
.navIcon {
    width: 20px;
}