.selectedPage{
    font-weight: 600;
}
.paginationBlock{
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: center;
}
.pageNumber {
    padding: 5px 10px 5px 10px;
    width: 17px;
    text-align: center;
    margin: 1px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #FFffff;
    cursor: pointer;
    color: #4a76a8;
    vertical-align: center;

}
.pageNumber.selectedPage{
    font-weight: bold;
    color: #204466;
    border-color: #204466;
}
.prevButton{
    width: 70px;
    background-color: #FFffff;
    color: #4a76a8;
    border-radius: 4px;
    border: none;
    margin-right: 3px;
    font-weight: bold;
}
.prevButton:focus{
    outline: none;
}
.nextButton{
    width: 70px;
    background-color: #FFffff;
    color: #4a76a8;
    border-radius: 4px;
    border: none;
    margin-left: 3px;
    font-weight: bold;
}
.nextButton:focus{
    outline: none;
}